<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <div class="cs-top-contact">
                <a href="" class="cs-top-link">
                    <img class="cs-link-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-stroke-white.svg" alt="logo" width="16" height="16" aria-hidden="true" decoding="async">
                    info@adhdcoacherica.com
                </a>
                <!-- <a href="" class="cs-top-link">
                    <img class="cs-link-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/clock-stroke-white.svg" alt="logo" width="20" height="20" aria-hidden="true" decoding="async">
                    Opening hours: Mon - Sat: 8:00am To 9:00pm
                </a> -->
            </div>
            <div class="cs-top-social">
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/clock-stroke-white.svghttps://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-lgrey.svg" alt="logo" width="16" height="16" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/clock-stroke-white.svghttps://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-lgrey.svg" alt="logo" width="16" height="16" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/clock-stroke-white.svghttps://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-lgrey.svg" alt="logo" width="16" height="16" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
    </div>
    <div class="cs-container">
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="" class="cs-li-link cs-active">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            About Me
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            Coaching
                        </a>
                    </li>

                            <!--Nav Logo-->
        <a href="" class="cs-logo" aria-label="back to home">
            <img src="/assets/svgs/stacked_logo.svg" alt="logo" width="300" height="100" aria-hidden="true" decoding="async">
        </a>

                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            Blog
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            FAQ
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="" class="cs-li-link">
                            Contact Me
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
                                