---
title: 'ADHD Coach Erica'
description: 'The coolest ADHD coach around'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/index.css" />
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1786">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Certified ADHD Life Coach</h1>
            <p class="cs-text">
                random stuff about life coaching or a quote or something. 
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid cs-button1">GET COACHED BITCH!</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/landing/landing_page_girl.png">
        <source media="(min-width: 601px)" srcset="assets/images/landing/landing_page_girl.png">
        <img loading="lazy" decoding="async" src="assets/images/landing/landing_page_girl.png" alt="field" width="1920" height="700" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Side By Side                -->
<!-- ============================================ -->

<section id="sbs-1585">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="assets/images/landing/talking_pic.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="assets/images/landing/talking_pic.png">
            <img loading="lazy" decoding="async" src="assets/images/landing/talking_pic.png" alt="models" width="586" height="690">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">What is ADHD Life Coaching?</h2>
            <p class="cs-text">
                random stuff about life coaching or a quote or something. 
            </p>
            <a href="" class="cs-button-solid">Let’s Get Started!</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-250">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="assets/images/landing/erica.png">
            <source media="(min-width: 601px)" srcset="assets/images/landing/erica.png">
            <img loading="lazy" decoding="async" src="assets/images/landing/erica.png" alt="hiker" width="522" height="522" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Hi</span>
            <h2 class="cs-title">I'm Erica Tucker</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc lobortis mattis aliquam faucibus purus in. Diam ut venenatis tellus in metus vulputate eu. Massa vitae tortor condimentum lacinia quis vel eros donec ac.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">My ADHD Journey</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1494">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">What are my specialities?</h1>
            <!-- <p class="cs-text">
                We promise to take care of your child’s social, emotional, intellectual and physical needs with sensitive care and we also ensure you their security with our life.
            </p> -->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="assets/images/landing/smiles.png" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="assets/images/landing/smiles.png" />
                        <img loading="lazy" decoding="async"
                            src="assets/images/landing/smiles.png" alt="kids"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        Previously Misdiagnosed
                    </h3>
                    <p class="cs-item-text">
                        Looking to grow from their misdiagnosis and allow their diagnosis to empower them. 
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="assets/images/landing/hugz.png" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="assets/images/landing/hugz.png" />
                        <img loading="lazy" decoding="async"
                            src="assets/images/landing/hugz.png" alt="kids"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        Relationships Building
                    </h3>
                    <p class="cs-item-text">
                        Looking to understand how ADHD may be impacting their relationship and grow.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)"
                            srcset="assets/images/landing/sun.png" />
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)"
                            srcset="assets/images/landing/sun.png" />
                        <img loading="lazy" decoding="async"
                            src="assets/images/landing/sun.png" alt="kids"
                            width="413" height="240" aria-hidden="true" />
                    </picture>
                </div>
                <div class="cs-info">
                    <h3 class="cs-h3">
                        Self-Esteem & Confidence Building
                    </h3>
                    <p class="cs-item-text">
                        Looking to grow their selfesteem and begin to practice positive self-talk.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-690">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <h2 class="cs-title">Coaching Packages</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Option 1</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum architecto obcaecati quas reiciendis numquam dolore Lorem ipsum dolor sit amet. Lorem, ipsum dolor!
                    </p>
                </div>
            </li>
            <li class="cs-item middle">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Option 2</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum architecto obcaecati quas reiciendis numquam dolore Lorem ipsum dolor sit amet. Lorem, ipsum dolor!
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Option 3</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum architecto obcaecati quas reiciendis numquam dolore Lorem ipsum dolor sit amet. Lorem, ipsum dolor!
                    </p>
                </div>
            </li>
        </ul>
        <div class="cs-button-group">
            <a href="" class="cs-button-solid cs-button1">GET COACHED BITCH!</a>
        </div>
    </div>
</section>
                                
                                
                                

{% endblock %}